@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('img/backlogin.png');
    color: white;
    font-family: 'outfit', sans-serif;
    user-select: none;
}

input, button{
    outline: solid 1px #0f0f41;
}

::selection {
    background-color: #F7B40D; /* Cor de fundo ao selecionar */
    color: #01012c; /* Cor do texto ao selecionar */
}


.login{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: #0f0f41;
    height: 400px;
    width: 30vw;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

label {
    width: 25vw;
    margin-left: -15px;
}

label h5{
    margin-bottom: 5px;
}

input{
    width: 100%;
    background-color: #2a2a5d;
    border: none;
    padding: 10px 8px;
    font-size: 14px;
    border-radius: 5px;
    color: white;
}

button{
    width: 100px;
    padding: 10px;
    background: #F7B40D;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
}

h2{
    margin-top: 20px;
    font-size: 40px;
}

h4{
    font-weight: normal;
    margin-top: -20px;
    margin-bottom: 20px;
}

.exibir-senha{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0f0f41;
    transition: background-color 0.3s;
}

.exibir-senha h5{
    font-weight: normal;
    transition: opacity 0.3s ease-in-out;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-content {
    background: #2a2a5d;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-content button {
    margin-top: 10px;
    padding: 8px 12px;
    background: #F7B40D;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

@media (max-width: 1230px) {
    .login{
        width: 50%;
    }

    label{
        width: 80%;
    }
}

@media (max-width: 690px) {
    .login{
        width: 80%;
    }
}
