h2, h3 {
    text-align: center;
}
.section {
    margin-bottom: 20px;
    text-align: center;
}
.box{
    margin: 10px;
    background-color: #0f0f41;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
    padding: 20px;
}
.box-box{
    display: flex;
    height: 75vh;
}
#detalhes{
    width: 300px;
}
#table{
    width: 900px;
}
.unico{
    margin-top: 10px;
}
input, select {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #2a2a5d;
}
h5{
    margin-top: 20px;
    margin-bottom: -5px;
    text-align: left;
}
button {
    width: 100%;
    padding: 10px;
    background: #F7B40D;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
}

button#adc-job{
    margin-top: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
td {
    border: none;
    padding: 5px;
    text-align: center;
}
th {
    background: #2a2a5d;
    border: solid 4px #0f0f41;
    padding: 5px;
    color: white;
    text-align: center;
    border-radius: 10px;
}

#desc{
    width: 60%;
}

#qntd{
    width: 10%;
}

#time{
    width: 10%;
}

#value{
    width: 20%;
}

.rodapés{
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    margin: 0 10px;
}

.imprimir{
    margin-top: 10px; 
    margin-right: 20px;
    background: #F7B40D;
    border-radius: 5px;
}

.PDF{
    margin-top: 10px; 
    background: #F7B40D;
    margin-right: 20px;
    border-radius: 5px;
}

.IMG{
    margin-top: 10px; 
    background: #F7B40D;
    margin-right: 20px;
    border-radius: 5px;
}

.limparTudo{
    margin-top: 10px; 
    background: #F7B40D;
    margin-right: 20px;
    border-radius: 5px;
}

#dataH{
    margin-top: 10px; 
    background: #F7B40D;
    margin-right: 20px;
    border-radius: 5px;
    cursor: default;
}

#total-table{
    background-color: #F7B40D;
    height: 40px;
    cursor: default;
    border-radius: 5px;
}

#total-table h3{
    font-size: 16px;
    font-weight: normal;
}

#total-table h3 span{
    font-weight: bold;
}

#logo-print{
    display: none;
    visibility: hidden;
}

@media print {
        body * {
            visibility: hidden; /* Esconde tudo sem remover */
        }
        main, main * {
            visibility: visible; /* Deixa apenas o <main> e seus filhos visíveis */
        }
        .container {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100vh;
            background-color: white;
            color: black;
        }

        nav.menu-lateral.expandir ~ .container{
            left: 0;
        }

        button{
            display: none;
        }
        #dataH{
            display: block;
            position: fixed;
            top: 15px;
            right: 120px;
            width: 200px;
            font-size: 14px;
            background-color: white;
            color: black;
        }
        #total-table {
            display: block;
            position: fixed;
            top: 15px;
            right: 10px;
            width: 140px;
            background-color: white;
            color: black;
            height: 34px;
        }
        #total-table h3{
            font-size: 14px;
            margin: 0;
        }
        .box{
            background-color: #c9c9c9;
            color: black;
            box-shadow: none;
        }
        .box-box{
            height: 90vh;
        }
        h5{
            margin-top: 5px;
            font-size: 8px;
        }
        input, select{
            font-size: 9px;
            background-color: #a7a7a7;
            color: black;
        }
        h2{
            font-size: 15px;
        }
        th{
            background-color: #a7a7a7;
            border: solid 4px #c9c9c9;
            color: black;
        }
        th, td{
            font-size: 12px;
        }
        #logo-print{
            display: block;
            visibility: visible;
            position: fixed;
            bottom: 20px;
            left: 90px;
            width: 150px;
        }
        #detalhes{
            display: none;
            visibility: hidden;
        }
}

@media (max-width: 1651px) {
    h5{
        margin-top: 5px;
    }
}

@media (max-width: 1530px) {
    .box-box{
        display: block;
    }
    .box{
        width: 100%;
        margin: 10px 0;
    }
    .pagina{
        display: block;
    }
    #detalhes{
        width: 100%;
    }
    #table{
        width: 100%;
        margin-top: 10px;
    }

    .rodapés{
        display: none;
        justify-content: center;
        margin-top: 360px;
    }

    .imprimir{
        margin-right: 0;
        display: none;
    }
    
    .PDF{
        margin-right: 0;
        display: none;
    }
    
    .IMG{
        margin-right: 0;
        display: none;
    }
    
    .limparTudo{
        margin-right: 5px;
    }
    
    #dataH{
        margin-right: 0;
        display: none;
    }
    
    #total-table{
        height: 40px;
    }    
}

@media (max-width: 500px) {
    .box-box{
        display: block;
    }
    .box{
        width: 100%;
        margin: 10px 0;
    }
    .pagina{
        display: block;
    }
    #detalhes{
        width: 100%;
    }
    #table{
        width: 100%;
        margin-top: 70px;
    }

    .rodapés{
        display: flex;
        justify-content: center;
        margin-top: 360px;
    }

    .imprimir{
        margin-right: 0;
        display: none;
    }
    
    .PDF{
        margin-right: 0;
        display: none;
    }
    
    .IMG{
        margin-right: 0;
        display: none;
    }
    
    .limparTudo{
        margin-right: 5px;
    }
    
    #dataH{
        margin-right: 0;
        display: none;
    }
    
    #total-table{
        height: 40px;
    }    
}
